@import "./_variables";

body {
  font-family: 'Muli', sans-serif;
}

button {
  border: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  position: relative;
}

.full-width-background {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.section__title {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 100.8%;
}

.section__description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: $gray;
}
