$primary-color: #192AEA;
$gray: #747474;
$light-gray: #a7a7a7;
$white: #ffffff;
$smoke-white: #f8f8f8;
$border-grey: #dddd;

$black: #000000;
$light-purple: #7A88E9;
$button-focus: #192061;
$orange: #F4EDE3;
$light-blue: #05C7F2;
$carris-yellow: #f7e267;
$salmon: #F27781;

$stats-gradient: linear-gradient(to top, $primary-color 25.02%, $light-purple 82.23%);

$container-gap: 80%;
$section-margin: 40px;
$small-screen-min: 280px;
$max-mobile-size: 875px;
$section-min-height: 795px;

$nav-height: 80px;
$grid-gap: 1rem;
$outline: $primary-color 2px solid;

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@mixin container-gap() {
  grid-template-columns: 5% repeat(4, 1fr) 5%;
  width: 100%;

  @media only screen and (min-width: $max-mobile-size) {
    grid-template-columns: 5% repeat(12, 1fr) 5%;
    width: 100%;
  }
}

@mixin main-font() {
  font-family: Muli, sans-serif;
}
