$primary-color: #192AEA;
$gray: #747474;
$white: #ffffff;
$smoke-white: #f2f2f2;
$black: #000000;
$light-purple: #7A88E9;
$button-focus: #192061;
$orange: #F4EDE3;

$stats-gradient: linear-gradient(to top, $primary-color 25.02%, $light-purple 82.23%);

$container-gap: 80%;
$section-margin: 40px;
$small-screen-min: 280px;
$max-mobile-size: 870px;
$section-min-height: 795px;

$nav-height: 80px;
$grid-gap: 1rem;
$outline: $primary-color 2px solid;

@font-face {
  font-family: 'Muli';
  src: url('https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap');
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

@mixin container-gap() {
  grid-template-columns: repeat(4, 1fr);
  width: 93%;

  @media only screen and (min-width: $max-mobile-size) {
    grid-template-columns: repeat(12, 1fr);
    width: $container-gap;
  }
}

@mixin container-column() {
  grid-column: 1 / 5;

  @media only screen and (min-width: $max-mobile-size) {
    grid-column: 1 / 13;
  }
}

@mixin main-font() {
  font-family: Muli, sans-serif;
}
